<div class="flex flex-col items-center border-t border-gray-200 pt-6 mt-6 dark:border-gray-800">
    <h3 class="text-xl font-semibold mb-2">Thông Tin Liên Hệ</h3>
    <ul class="flex flex-col items-start space-y-2 text-sm text-gray-600 dark:text-gray-400">

        <li class="flex items-center">
            <i data-lucide="phone" class="w-4 h-4 mr-2 flex-shrink-0"></i>
            <b>Điện thoại:</b> <a href="tel:+84123456789" class="hover:underline">0338834091</a>
        </li>
        <li class="flex items-center">
            <i data-lucide="mail" class="w-4 h-4 mr-2 flex-shrink-0"></i>
            <b>Email:</b> <a href="mailto:hungly1705@gmail.com" class="hover:underline">hungly1705@gmail.com</a>
        </li>

        <li class="flex items-start"> 
            <i data-lucide="map-pin" class="w-4 h-4 mr-2 mt-[2px] flex-shrink-0"></i> 
            <b>Địa chỉ:</b> 10/80c Song Hành Xa Lộ Hà Nội, Phường Tân Phú, Thủ Đức, TP.HCM
        </li>
    </ul>
</div>